


.parent-box{
  background-image: url(./images/bg-intro-desktop.png);
  background-color: hsl(0, 100%, 74%);
  color: white;
  display: flex;
  padding: 200px;
  font-family: 'Poppins', sans-serif;
}
.title{
  font-family: 'Poppins', sans-serif;
  font-size: 30px;

}
.child-box1 {
  width: 50%;
}

.child-box2 {
  width: 50%; 
}


p{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}
.child-box3{
  background-color:whitesmoke ;
  margin-top: 1em;
  padding: 2em;
  border-radius: 10px;
 

}
.grandchild h3 {
  background-color: hsl(248, 32%, 49%) ;
 font-size: 1em;
 font-weight: 400;
  color: white;
  border-radius: 10px;
  padding: 1em 3em;
  
}span{
  font-weight: 600;
  color: white;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1em;
  
}
input{
  width:100% ;
  padding: 1em;
  border-radius: 5px;
 color: grey;
 font-weight: 700;
 position: relative;
  border: 1px solid hsl(246, 25%, 77%);
}
.msg{
  color: red;
}
.form-fields{
  width: 10%;
}
#submit-btn .msg{
  color: red;
}
/*.msg,
.icon-error{
  display: none;
}
.great-grandchild1{
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: 30px;
}

.great-grandchild2{
  border-radius: 10px;
  margin-bottom: 15px;
}
.great-grandchild3{
  border-radius: 10px;
  margin-bottom: 15px;
}
.great-grandchild4{
  border-radius: 10px;
  margin-bottom: 15px;
}*/
#submit-btn{
    cursor: pointer;
    background-color:hsl(154, 59%, 51%) ;
    border: none;
    color: white;
    padding: 1em 0em ;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
 
  }
  p{
    color: hsl(246, 25%, 77%);
    font-size: 0.8em;
    padding: 1em 1em 0;
  }
  p a{
color: hsl(0, 100%, 74%);
text-decoration: none;
font-weight: 700;
  }

 .icon-error{
  position: absolute;
  margin: 0.8em 0em 0em -5em;
  
 }
  
  .thankyou{
    color: hsl(246, 25%, 77%);
  }
  
  
  .error{
    color: red;
    
  }
  @media (max-width: 768px) { /* Target screens up to 768px wide (typical mobile width) */
    .parent-box {
      flex-direction: column; /* Stack elements vertically */
    }
  
    .child-box1 {
      width: 100%; /* Expand to full width on mobile */
    }
  
    .child-box2 {
      width: 100%; /* Expand to full width on mobile */
    }
  }