


.parent-box{
  background-color: hsl(0, 100%, 74%);
  color: white;
  display: flex;
  padding: 200px;
  font-family: 'Poppins', sans-serif;
}
.title{
  font-family: 'Poppins', sans-serif;
  font-size: 30px;

}
.child-box1 {
  width: 50%;
}

.child-box2 {
  width: 50%; 
}


p{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}
.child-box3{
  background-color:whitesmoke ;
  text-align: center;
  margin-top: 15px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;

}
.grandchild {
  background-color: hsl(248, 32%, 49%) ;
  margin-bottom: 20px;
  border-radius: 10px;
  color: white;
  height: 45px;
  width: 350px;
  justify-content:flex-start;
  
}
form {
  display: flex;
  flex-direction: column;
  
}
input {
  width: 50%;
}
.great-grandchild1{
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: 30px;
}

.great-grandchild2{
  border-radius: 10px;
  margin-bottom: 15px;
}
.great-grandchild3{
  border-radius: 10px;
  margin-bottom: 15px;
}
.great-grandchild4{
  border-radius: 10px;
  margin-bottom: 15px;
}
.my-button{
    cursor: pointer;
    background-color:hsl(154, 59%, 51%) ;
    margin-top: 20px;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-left: 80px;
  }
  form .fa{
    display: flex;
    right: 10px;
    margin-top: -20px;
  }
  
  .thankyou{
    color: hsl(246, 25%, 77%);
  }
  
  
  .error{
    color: red;
    
  }
  @media (max-width: 768px) { /* Target screens up to 768px wide (typical mobile width) */
    .parent-box {
      flex-direction: column; /* Stack elements vertically */
    }
  
    .child-box1 {
      width: 100%; /* Expand to full width on mobile */
    }
  
    .child-box2 {
      width: 100%; /* Expand to full width on mobile */
    }
  }